{% extends "police station/policestationindex.html" %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/MyApp/editcrimehistory_post/">
    {% csrf_token %}
  <table class="table table-bordered" border="1">
    <tr>
      <th>crime detail</th>
      <td><input type="text" name="textfield" id="textfield" required class="form-control"/></td>
    </tr>
    <tr>
      <th>police station</th>
      <td><input type="text" name="textfield2" id="textfield2" required class="form-control"/></td>
    </tr>
    <tr>
      <th>date</th>
      <td><input type="text" name="textfield3" id="textfield3" required class="form-control"/></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="button" id="button" value="Edit" class="btn btn-success"/></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
