<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/MyApp/viewprofile/">viewprofile</a><br>
<a href="/MyApp/addcriminal/">criminalManagement</a><br>
<a href="/MyApp/viewcriminal/">viewCriminals</a><br>

<a href="/MyApp/addcrimehistory/">crimehistoryManagement</a><br>
<a href="/MyApp/viewcrimehistory/">viewcriminalDetection</a><br>
<a href="/MyApp/police_changepassword/">changePassword</a><br>

<a href="/MyApp/"></a><br>
<a href="/MyApp/"></a><br>
<a href="/MyApp/"></a><br>
<a href="/MyApp/"></a><br>

</body>
</html>